$icon-color:#9CADF2;
$white:#fff;
$black:#000;
$background-btn: linear-gradient(113.87deg, #2663DF 14.81%, #758FF0 88.76%);
$background-btn-hover: linear-gradient(113.87deg, #255ed0 20.81%, #758FF0 100.76%);
$background-container: rgba(245, 247, 255, 0.85); 