.container{
    display: flex;
    flex-direction: row;
    gap: 3.75rem;
    align-items: center;
    background-color: $background-container;
    border-radius:.625rem ;
    padding: 3.75rem;
}
.cont__img{
    inline-size: 28.125rem;
    img{
        inline-size: 100%;
    }
}
.cont__text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3.5rem;
        font-weight: bolder;
    }
    p{
        font-size: 1.5rem;
    }
}
@media(width < 991px){
    .container{
        inline-size: 85%;
    }
    .cont__text{
        h1{
            font-size: 3rem;
        }
        p{
            font-size: 1.3rem;
        }
    }
}
@media(width < 768px){
.container{
    flex-direction: column;
    text-align: center;
    inline-size: 100%;
    block-size: 100vh;
    justify-content: center;
}
.cont__img{
    inline-size: 100%;
}
.cont__text{
    h1{
        font-size: 2.625rem;
    }
    p{
        font-size: 1.3rem;
    }
}
}
.cont--success{
    .cont__text{
        h1{
            font-size: 2.625rem;
        }
        p{
            font-size: 1rem;
        }
    }
}